.home,.CReg{
  display: flex;
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: azure;
}
.csta{
  display: flex;
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: azure;
}
.row {
  height: 50%;
  width: 50%;
  margin-top: 100px;
  margin-right: 100px;
  margin-left: 100px;
}
.row img{
  width: 350px;
  height: 250px;
  justify-items: center;
  border: 6px solid royalblue;
  border-end-start-radius: 50px;
  border-top-right-radius: 50px;
}
.column{
  height: 50%;
  width: 50%;
  justify-content: center;
  text-align: justify;
  margin-top: 100px;
  margin-right: 100px;
  font-size: 20px;
  line-height: 1.5;
}
.column a{
  height: 40px;
  width: 150px;
  padding: 10px;
  font-size: 18px;
  margin-left: 50px;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(185, 239, 255);
  border: 2px solid dodgerblue;
  cursor: pointer;
  text-decoration: none;
  border-radius: 40px;
  color: black;
}
.column button:hover{
  background-color: lightgreen;
}
.CReg form{
  margin-left: 280px;
  margin-top: 20px;
  border: 10px solid hotpink;
  border-style: groove;
}
.CReg table{
  font-size: 22px;
  padding: 30px;
  justify-content: center;
  text-align: justify;
}
.csta table{
  margin-left: 280px;
  margin-top: 20px;
  margin-right: 200px;
  border: 10px solid rgb(180, 20, 243);
  border-style: groove;
  font-size: 22px;
  padding: 30px;
  justify-content: center;
  text-align: justify;
}
.CReg input{
  height: 40px;
  width: 400px;
  border: 4px solid rgb(215, 74, 254);
  border-radius: 40px;
  border-style: groove;
  font-size: 20px;
  padding: 15px;
  font-family: 'Times New Roman', Times, serif;
  background-color: ghostwhite;
}
.CReg td{
  padding: 15px;
}
.bbn{
  height: 40px;
  width: 150px;
  padding: 10px;
  font-size: 18px;
  margin-left: 50px;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(185, 239, 255);
  border: 2px solid dodgerblue;
  cursor: pointer;
  text-decoration: none;
  border-radius: 40px;
  color: black;
}